:root{
    --azul-claro: #E3FEF7;
    --azul-medio: #77B0AA;
    --azul: #135D66;
    --azul-escuro: #003C43;
    --cor-fundo: #ffffff;
    --cor-letra: #161616;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Narrow", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
    height: 100vh;
}

.flex{
    display: flex;
}

.button-geral {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--azul);
    /* tirando as bordas */
    border: 0;
    /* deixando as bordas arredondadas */
    border-radius: 30px;
    /* mudança de cursos */
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px var(--azul);
    transform: scale(1.05)
}

h2{
    color: var(--azul-escuro);
    font-size: 40px;
    text-align: left;
}

h2 span{
    color: var(--azul-medio);
}


/* .. */
/* .. */
/* .. */
/* CABEÇALHO DO SITE */
header{
    padding: 10px 4%;
    color: var(--azul);
}

header span{
    color: var(--azul-medio);
}

header > .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #333333;
    text-decoration: none;
    display: inline-block;
    transition: .2s;   
}

header a:hover{
    color: var(--azul);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-cliente .bi{
    color: var(--azul);
}


/* .. */
/* .. */
/* .. */
/* ROPOSITORIO DO SITE */
section.repositorio_perfil{
    padding: 20px 4%;
    margin-top: 40px;
    
}

.titulo h2{
    display: flex;
    box-shadow: 0px 0 0px 0.5px var(--azul-claro);
}

.container .link-acesso p a{
    color: #77B0AA;
}


.topicos .btn-topicos button{
    width: 120px;
    border: none;
    background-color: var(--azul-medio);
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}